{% extends 'base.html' %}
{% block content %}

<div class='card'>
    <div class='card-body'>
        <h4>Autores</h4>
        <hr>
        {% if messages %}
        {% for m in messages %}
        <div class="alert alert-sucess" role="alert">
            {{ m }}
        </div>
        {% endfor %}
        {% endif %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Data de Nascimento</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for autor in autores %}
                <tr>
                    <td>{{ autor.nome }}</td>
                    <td>{{ autor.email }}</td>
                    <td>{{ autor.data_nascimento }}</td>
                    <td>
                        <a class="btn btn-warning" href="{% url 'autor_edit' autor.id %}">Editar</a>
                        <a class="btn btn-danger" href="{% url 'autor_delete' autor.id %}"
                        onclick="return confirm('Confirma a exclusão?')">Excluir</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <center>
            <a class="btn btn-success" href="{% url 'autor_add' %}">Cadastrar</a>
            <a class="btn btn btn-secondary" href="{% url 'home' %}">Página Inicial</a>
        </center>
    </div>
</div>

{% endblock %}