{% extends 'base.html' %}
{% block content %}

    <div class="card">
        <div class="card-body">
            <h4>Editar Livro</h4>
            <hr>
            <form action="{% url 'livro_edit' livro %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-success" type="submit">Salvar</button>
                <a href="{% url 'livro' %}" class="btn btn-danger">Cancelar</a>
            </form>
        </div>
    </div>

{% endblock %}