{% extends 'base.html' %}
{% block content %}

<div class='card'>
    <div class='card-body'>
        <h4>Livros</h4>
        <hr>
        {% if messages %}
        {% for m in messages %}
        <div class="alert alert-sucess" role="alert">
            {{ m }}
        </div>
        {% endfor %}
        {% endif %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Subtitulo</th>
                    <th>Data de Lançamento</th>
                    <th>ISBN</th>
                    <th>Número de Páginas</th>
                    <th>Autor</th>
                </tr>
            </thead>
            <tbody>
                {% for livro in livros %}
                <tr>
                    <td>{{ livro.titulo }}</td>
                    <td>{{ livro.subtitulo }}</td>
                    <td>{{ livro.data_lancamento }}</td>
                    <td>{{ livro.isbn }}</td>
                    <td>{{ livro.numero_paginas }}</td>
                    <td>{{ livro.autor.nome }}</td>
                    <td>
                        <a class="btn btn-warning" href="{% url 'livro_edit' livro.id %}">Editar</a>
                        <a class="btn btn-danger" href="{% url 'livro_delete' livro.id %}"
                        onclick="return confirm('Confirma a exclusão?')">Excluir</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <center>
            <a class="btn btn-success" href="{% url 'livro_add' %}">Cadastrar</a>
            <a class="btn btn btn-secondary" href="{% url 'home' %}">Página Inicial</a>
        </center>
    </div>
</div>

{% endblock %}